body {
    font-family: "Times New Roman", sans-serif;
    font-size: 0.85rem;
}

header {
    padding: 10px;
    background-color: rgb(98, 95, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img{
    height: 20px;
    margin: 10px;
}
 
.hero {
    display: flex;
    height: 25rem;
    color: rgb(98, 95, 102);
    background-image: url('hero background.jpg');
    justify-content: center;
    align-items: center;
}

h5, h4, h3, h2 {
    color: rgb(241, 196, 2);
}

h5, h4, h3, p {
    margin: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5em;
}

.content a{
    color: black;
    text-decoration: none;
}

.content img {
    border-radius: 50%;
    padding: 0 0.25rem 0;
}

.cont1 {
    display: flex;
    flex-direction: row;
}

.cont3 {
    display: flex;
    flex-flow: wrap column;
    margin-top: 1rem;
}
.cont3 > img {
    padding: 0.25rem;
}

.contacts{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem;
}

footer a{
    color: white;
    text-decoration: none;
}

footer{
    border-top: 10px solid rgb(241, 196, 2);
    display: flex;
    height: auto;
    background-color: rgb(98, 95, 102);
    flex-flow: wrap column;
    justify-content: space-evenly;
}

.foot{
    display: block;
    margin: 10px 10px 20px;
    text-align: center;
}    




@media only screen and (min-width: 769px) {
    header {
        flex-direction: row;      
        justify-content: space-around;
    }  
    
    .hero {
        height: 40rem;
    }

    .content{
        margin: -5em 20% 2rem;
    }

    .cont1 > img {
        padding: 0 3rem 0;
    }

    .cont3 {
        flex-direction: row; 
    }

    .cont3_card {
        display: flex;
        flex-flow: nowrap row;
        margin: 2rem 1.5em 0;
    }

    .cont3_card > img {
        max-width: 100px;;
    }

    footer{
        flex-flow: nowrap row;
    }

}